body{
  background-color: #ECF2F8;
  font-family: 'Manrope', sans-serif;
}


#i1{
  font-weight: 700;
  font-size: 17px;
  color:#4E5765;
  margin: 20px;

}

#i2{
  font-weight: 500;
  font-size: 11px;
  color:#6D7F97;
  margin: 20px;
}

#i3{
  width:329px;
  height : 200px;
  float: left;
  border-radius: 7px 7px 0 0px ;
  box-shadow: 7px 7px 25px #aaaaaa;


}
#i4{
  border-radius: 50%;
  width:30px;
  margin-left: 20px;
  float : left;
  margin-right: 15px;
  margin-bottom: 10px;

}

#i5{
  font-weight: 500;
  font-size: 11px;
  color:#6D7F97;
  vertical-align: middle;
  }

#i6{
  font-weight:700;
  color:#4E5765;

}
#i7{
  float: right;
  margin-right: 20px;
  margin-top: 7px;
}

.c1{

  height: 220px;
  display: inline-block;
  background-color: white;
  border-radius: 0px 0px 7px 7px ;
  box-shadow: 7px 7px 25px  #aaaaaa;
  margin-left: 400px;
}
.c2{
margin-left:400px;
width:250px;

}
.tooltip {

}
.tooltip .tooltiptext {
  visibility: hidden;
  font-weight: 300;
  font-size: 10px;
  text-align: center;
  background-color:#4E5765 ;
  color: #6D7F97;
  letter-spacing: 6px;
  padding: 15px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 0 0 7px 7px;
  position: absolute;
  width: 300px;
  height:32px;
  top: 361px;
  left: 41.5%;


}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


#i8{
  text-align: center;
}
